<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid responsive-width">
    <%= link_to "Hockdudu", {controller: 'pages', action: 'home'}, {class: "navbar-brand"} %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <% is_active = current_page?(controller: 'pages', action: 'home') %>
        <%= link_to raw("Home #{if is_active; '<span class="sr-only">(current)</span>'; end}"), {controller: 'pages', action: 'home'}, {class: "nav-item nav-link #{(if is_active; "active" end)}"} %>

        <% is_active = current_page?(controller: 'pages', action: 'about') %>
        <%= link_to raw("About #{if is_active; '<span class="sr-only">(current)</span>'; end}"), {controller: 'pages', action: 'about'}, {class: "nav-item nav-link #{(if is_active; "active" end)}"} %>

        <% is_active = controller.controller_name == 'user' %>
        <%= link_to raw("Users (mandatory page) #{if is_active; '<span class="sr-only">(current)</span>'; end}"), {controller: 'user', action: 'show'}, {class: "nav-item nav-link #{(if is_active; "active" end)}"} %>

        <% is_active = controller.controller_name == 'book' %>
        <%= link_to raw("Book (mandatory page) #{if is_active; '<span class="sr-only">(current)</span>'; end}"), {controller: 'book', action: 'list'}, {class: "nav-item nav-link #{(if is_active; "active" end)}"} %>

        <% is_active = controller.controller_name == 'session' %>
        <%= link_to raw("Session (mandatory page) #{if is_active; '<span class="sr-only">(current)</span>'; end}"), {controller: 'session', action: 'login'}, {class: "nav-item nav-link #{(if is_active; "active" end)}"} %>

        <!--        <div class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown link-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</nav>