<main>
  <div class="hero-image-container hero-image-norway mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Login</h1>
      <p>Who are you? Who, who, who, who?</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <% if @error %>
      <div class="alert alert-danger">
        <% if @error == 'username' %>Username incorrect<% end %>
        <% if @error == 'pass' %>Password incorrect<% end %>
      </div>
    <% end %>

    <%= form_tag :action => 'check' do %>

      <div class="form-group">
        <%= label :user, :username %>
        <%= text_field :user, :username, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= label :user, :pass %>
        <%= password_field :user, :pass, {class: 'form-control'}  %>
      </div>

      <%= submit_tag 'Login', {class: 'btn btn-primary' }%>
    <% end %>
  </div>
</main>