<main>
  <div class="hero-image-container hero-image-norway mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Welcome</h1>
      <p>What's going on?</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <% if @user == nil %>
      <div class="alert alert-danger">
        You aren't logged in!
      </div>
      <%= link_to 'login', action: 'login' %>
    <% else %>
      <div class="mb-3">
        Hello <%= @user.username %>!
      </div>
      <div>
        <%= link_to 'Logout', {action: 'logout'}, {class: 'btn btn-secondary', role: 'button'} %>
      </div>
    <% end %>
  </div>
</main>