<main>
  <div class="hero-image-container hero-image-colorado mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1><%= @book.title %></h1>
      <p>Edit book</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <%= form_for @book, url: {action: 'update', id: @book} do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, {class: 'form-control', type: 'number', step: 0.01} %>
      </div>
      <div class="form-group">
        <%= f.label :subject_id %>
        <%= f.collection_select(:subject_id, @subjects, :id, :name, {include_blank: 'Select'}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, {class: 'form-control'} %>
      </div>
      <%= f.submit 'Save book', {class: 'btn btn-primary'} %>
      <%= link_to 'View book', {action: 'show', id: @book.id}, {class: 'btn btn-secondary', role: 'button'} %>
    <% end %>


    <hr>
    <%= link_to 'Book list', {action: 'list'} %>
  </div>
</main>


