<main>
  <div class="hero-image-container hero-image-colorado mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Books</h1>
      <p>Books! Books! Books! Gotta read 'em all!</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <% if @books.blank? %>
      <p>No books found</p>
    <% else %>
      <table class="table table-striped mb-0">
        <% @books.each do |c| %>
          <tr>
            <td><%= link_to c.title, {action: 'show', id: c.id}, {class: 'btn btn-link', role: 'button'} %></td>
            <td><%= link_to 'Edit', {action: 'edit', id: c.id}, {class: 'btn btn-link', role: 'button'} %></td>
            <td>
              <%= form_tag({action: 'delete'}, {method: :delete, style: 'display:inline;'}) do %>
                <%= hidden_field_tag 'id', c.id %>
                <%= submit_tag 'Delete Book', {class: 'btn btn-link', role: 'button', data: {confirm: 'Do you really want to delete this book?'}} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <hr class="mt-0">
    <%= link_to 'Create new book', {action: 'new'} %>
  </div>
</main>


