<main>
  <div class="hero-image-container hero-image-colorado mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Book</h1>
      <p>New book</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <%= form_tag :action => 'create' do %>
      <div class="form-group">
        <%= label :books, :title %>
        <%= text_field :books, :title, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= label :books, :price %>
        <%= text_field :books, :price, {class: 'form-control', type: 'number', step: 0.01} %>
      </div>
      <div class="form-group">
        <%= label :books, :subject_id %>
        <%= collection_select(:books, :subject_id, @subjects, :id, :name, {include_blank: 'Select'}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= label :books, :description %>
        <%= text_area :books, :description, {class: 'form-control'} %>
      </div>
      <%= submit_tag 'Save book', {class: 'btn btn-primary'} %>
    <% end %>

    <hr>
    <%= link_to 'Book list', {action: 'list'} %>
  </div>
</main>


