<main>
  <div class="hero-image-container hero-image-colorado mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1><%= @book.title %></h1>
      <p>Book</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <table class="table table-striped">
      <tr>
        <td>Price:</td>
        <td>CHF <%= @book.price %></td>
      </tr>
      <tr>
        <td>Subject:</td>
        <td><%= link_to @book.subject.name, {action: 'show_subjects', id: @book.subject.id} %></td>
      </tr>
      <tr>
        <td>Creation date:</td>
        <td><%= @book.created_at %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <% if @book.description != '' %>
            <%= @book.description %>
          <% else %>
            No description
          <% end %>
        </td>
      </tr>
    </table>


    <%= link_to 'Edit book', {action: 'edit', id: @book.id}, {class: 'btn btn-info', role: 'button'} %>
    <%= form_tag({action: 'delete'}, {method: :delete, style: 'display:inline;'}) do %>
      <%= hidden_field_tag 'id', @book.id %>
      <%= submit_tag 'Delete Book', {class: 'btn btn-danger', role: 'button', data: {confirm: 'Do you really want to delete this book?'}} %>
    <% end %>
    <hr>

    <%= link_to 'Book list', {action: 'list'} %>

  </div>
</main>


