<main>
  <div class="hero-image-container hero-image-colorado mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1><%= @subject.name %></h1>
      <p>Book category</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <ul class="list-group">
      <% @subject.books.each do |b| %>
        <li class="list-group-item"><%= link_to b.title, action: 'show', id: b.id %>
      <% end %>
    </ul>
    <hr>
    <%= link_to 'Book list', {action: 'list'} %>
  </div>
</main>


