<main>
  <div class="hero-image-container mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>About me</h1>
      <p>Who am I? What do I do? What is this website?</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Who are you?</h4>
        <p class="card-text">
          I'm a simple guy who lives in Switzerland and loves technology! At the moment I'm a student at gibb and I love it!
          I've made a lot of programs already, but my branch is websites. And don't you dare saying something bad about
          JavaScript, it's not JS' fault you can't use it properly. :D
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">What is this website?</h4>
        <p class="card-text">
          This website was created using Ruby on Rails, an web application framework. I personally never used Ruby before,
          so it's something new creating this website.
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Do you like ruby?</h4>
        <p class="card-text">
          It's a wonder I don't have any cancer yet.
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">So you dislike it?</h4>
        <p class="card-text">
          No, I freaking love it, don't you see? /s
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">I love you website!</h4>
        <p class="card-text">
          Thank you, kind stranger!
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Master teach me your great powers!</h4>
        <p class="card-text">
          Come to the dark side, my friend, use Linux.
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Do you -</h4>
        <p class="card-text">
          - Yes, I use Arch Linux btw.
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Any other website of yours?</h4>
        <p class="card-text">
          <b><a href="http://bdaroe.dev.bbc-projects.ch/" target="_blank">I USE ARCH LINUX BTW</a>.</b>
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Are you ok?</h4>
        <p class="card-text">
          Did<sup>you<sup>know<sup>I<sup>use<sup>Arch<sup>Linux?</sup></sup></sup></sup></sup></sup>
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Should I... call for help?</h4>
        <p class="card-text">
          ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX
          ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX ARCH LINUX
        </p>
      </div>
    </div>
  </div>
</main>