<main>
  <div class="hero-image-container mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Hockdudu's Website</h1>
      <p>Welcome to my website!</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">School</h5>
            <p class="card-text">Lorem ipsum</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About me</h5>
            <p class="card-text">Learn more about The Great Master</p>
            <%= link_to "Go there", {controller: 'pages', action: 'about'}, {class: "btn btn-primary"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>