<main>
  <div class="hero-image-container hero-image-namib mb-3">
    <div class="hero-contents container-fluid text-white responsive-width">
      <h1>Users</h1>
      <p>What for? I mean, what the fuck?</p>
    </div>
  </div>

  <div class="container-fluid responsive-width">
    <section>
      <h2>What is this?</h2>
      <p>Per law I'm obligated to have this page.</p>
      <h3>Solutions</h3>
      <ul>
        <li>Correct command for creating controller: <code>rails generate controller user show</code></li>
        <li>What happens on line 3: It counts the number of users and outputs it on the line.</li>
        <li>What happens on line 5: The first user is taken from the DB and it's name is output.</li>
        <li>What happens on line 7: The first user from the DB is saved to the variable <var>u</var>.</li>
        <li>What happens on line 8: Takes <var>u</var> and outputs the email.</li>
        <li>What happens on line 9: Same thing with age</li>
        <li>What happens on lines 12-16: Loops users, saved each to <var>u</var>, shows name</li>
      </ul>
      <p>(Seriously, this is boring AF)</p>
    </section>
    <hr>
    <section>
      <h2>Exercise 1</h2>
      <p>(I layout this how I want, because screw the rules!)</p>
      <table class="table table-striped">
        <tr class="thead-dark">
          <th>Name</th>
          <th>E-mail</th>
          <th>Age</th>
        </tr>
        <% User.all.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td><a href="mailto:<%= u.email %>"><%= u.email %></a></td>
            <td><%= u.age %></td>
          </tr>
        <% end %>
      </table>
      <p>Number of users: <%= User.count %></p>
    </section>
    <hr>
    <section>
      <h2>Exercise 2</h2>
      <p>(Are you serious?!)</p>
      <p>Number of users: <%= User.count %></p>
      <ol class="list-group">
        <% User.all.each do |u| %>
          <li class="list-group-item">
            <div><%= u.name %></div>
            <div>E-mail: <a href="mailto:<%= u.email %>"><%= u.email %></a></div>
            <div>Age: <%= u.age %></div>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</main>