// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darken-background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

.hero-image-container {
  background: $darken-background, url("/assets/9h9w27 - Italy.jpg") no-repeat center 35%;
  background-size: cover;
  min-height: 20rem;

  display: flex;
  align-items: end;
}

.hero-image-norway {
  background:  $darken-background, url("/assets/9h5tey - Norway.jpg") no-repeat center 35%;
  background-size: cover;
}

.hero-image-colorado {
  background:  $darken-background, url("/assets/9h58j4 - Colorado.jpg") no-repeat center 15%;
  background-size: cover;
}

.hero-image-namib {
  background:  $darken-background, url("/assets/9hctb4 - Namib.jpg") no-repeat center 35%;
  background-size: cover;
}

.responsive-width {
  width: calc(100vw - ((100vw - 800px) / 2));
  max-width: 100vw;
}

html {
  padding-bottom: 2rem;
  overflow-y: scroll;
  min-height: 100%;
}